.App {
  text-align: center;
  background-image: url("background2.png");
  animation: fadein 2s ease;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  
}

.react-chatbot-kit-chat-container {
  min-width: 20%;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.237);
  border-radius: 5px;
  position: relative;
  width: 560px;
  animation: Slide 1s ease;
  margin-left: 30%;

}

.react-chatbot-kit-chat-inner-container {
  
}

.react-chatbot-kit-chat-header {
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
  padding: 3%;

}

.react-chatbot-kit-chat-input {
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
  background-color: #a82424;
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  
}

.react-chatbot-kit-chat-bot-avatar-container {
  display: none;
}

.react-chatbot-kit-user-avatar{
  display: none;
}


.react-chatbot-kit-chat-bot-message {
  background-color: #a82424;
  border-radius: 24px 24px 24px 24px;
  padding: 12px 12px;
  margin-left: 0%;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  width: 280px;
  animation: Slide 0.5s ease;
}

@keyframes Slide{
  0%{
    transform: translateY(250px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fadein {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}


*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #a11d24;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #81171d;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
  background: #81171d;
  border-radius: 10px;
}

.animate-this-element {
  animation: name-of-animation 5s infinite;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #a82424;
  display: none;

}

.react-chatbot-kit-user-chat-message{
  border-radius: 24px 24px 24px 24px;
  color: #a82424;
}

.react-chatbot-kit-user-chat-message-arrow{
  display: none;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}

